# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
env/
venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files
data/*
!data/.gitkeep   # keep folder but ignore contents

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Build / dist
build/
dist/
*.egg-info/
